
@font-face {
    font-family: 'Calibri';
    src: url('../../fonts/Calibri-Light.eot?96532566');
    src: url('../../fonts/Calibri-Light.eot?96532566#iefix') format('embedded-opentype'),
    url('../../fonts/Calibri-Light.woff?96532566') format('woff'),
    url('../../fonts/Calibri-Light.ttf?96532566') format('truetype'), url('../../fonts/Calibri-Light.svg?96532566#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

