//*---------------------------------------
//  Fonts

    $bodyFont: 'Open Sans', sans-serif !default;
    $headingFont: 'Lato', sans-serif !default;

    //Base Font Size in PX
    $baseFontSize: 16;

//*---------------------------------------
//  Z-Index || This could be eliminated

    $z-base: 0;
    $z-modal: 999;

